label{
    color: brown;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
input{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
button{
    padding: 10px;
    color: beige;
    background-color: brown;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}